﻿@model List<Tutorial.Models.Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategorite</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/Home/Index"> Fillimi | </a>
            <a href="/Home/RrethNesh"> Rreth Nesh  | </a>
            <a href="/Category/Index"> Kategorite </a>
            <div ><strong>Kategoria: @ViewBag.Category.Emri</strong></div>            
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Emri</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Model[i].ID</td>
                                <td>@Model[i].Emri</td>
                                <td>
                                    <a href="/Product/Edit/@Model[i].ID" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="/Product/Detail/@Model[i].ID" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="/Product/Delete/@Model[i].ID" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a href="/Product/Create/?CategoryID=@ViewBag.Category.ID" class="btn btn-default" id="krijoProdukt">Shto Produkt</a>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
