﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategorite</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/Home/Index"> Fillimi | </a>
            <a href="/Home/RrethNesh"> Rreth Nesh  | </a>
            <a href="/Category/Index"> Kategorite </a>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                <form action="/Category/Create" class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="emri" class="control-label">Emri:</label>
                        <input type="text" name="emri" value="" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="pershkrimi" class="control-label">Pershkrimi:</label>
                        <textarea name="pershkrimi" rows="5" class="form-control"></textarea>
                    </div>

                    <button type="submit" id="btnRuaj" class="btn btn-default">Ruaj</button>
                </form>
            </div>
        </div>
        <div class="panel-footer">

        </div>
    </div>

    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
