﻿@model Tutorial.Models.Category

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategorite</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/Home/Index"> Fillimi | </a>
            <a href="/Home/RrethNesh"> Rreth Nesh  | </a>
            <a href="/Category/Index"> Kategorite </a>
        </div>
        <div class="panel-body">
            <div class="col-sm-3">ID:</div>
            <div class="col-sm-9">@Model.ID</div>
            <div class="col-sm-3">Emri:</div>
            <div class="col-sm-9">@Model.Emri</div>
            <div class="col-sm-3">Pershkrimi:</div>
            <div class="col-sm-9">@Model.Pershkrimi</div>
        </div>
        <div class="panel-footer">

        </div>
    </div>

    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
