﻿@model List<Tutorial.Models.Category> 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategorite</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/Home/Index"> Fillimi | </a>
            <a href="/Home/RrethNesh"> Rreth Nesh  | </a>
            <a href="/Category/Index"> Kategorite </a>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Emri</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].ID</td>
                            <td>@Model[i].Emri</td>
                            <td>
                                <a href="/Category/Edit/@Model[i].ID" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="/Category/Detail/@Model[i].ID" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="/Category/Delete/@Model[i].ID" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                                <a href="/Product/Index/?CategoryID=@Model[i].ID" class="btn btn-default">Produktet</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a href="/Category/Create" class="btn btn-default" id="krijoKategori">Shto Kategori</a>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
