﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <br/>
    <div class="panel panel-default"> 
        <div class="panel-heading">
            <a href="/Home/Index"> Fillimi | </a>
            <a href="/Home/RrethNesh"> Rreth Nesh  | </a>
            <a href="/Category/Index"> Kategorite </a>
        </div>
        <div class="panel-body">
            Home Page Body

            Home Page Body

            Home Page Body
        </div>
        <div class="panel-footer"> 
            Home Page Footer
        </div>
    </div>



    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
